<form method="post" action="{% url 'update' %}">
    <input type="text" name="isbnno" value="{{data.isbn}}" readonly>
    bookname :<input type="text" name="bname" value="{{data.bookname}}"><br>
    bprice :<input type="text" name="bprice" value="{{data.price}}"><br>
    Author_name :<input type="text" name="aname" value="{{data.authorname}}"><br>
    Discount :<input type="text" name="dis" value="{{data.discount}}"><br>

    <input type="submit" value="Update" name="btn">
    {% csrf_token %}
</form>