<h1>This is your viewbook page</h1>

<table border="1px solid">
    <tr>
        <th>Book_name</th>
        <th>Author_name</th>
        <th>Book_price</th>
        <th>ISBN_No</th>
        <th>Discount</th>
        <th>Image</th>
        <th>Action</th>
    </tr>
    {% for data in bookdata %}
    <form method="post">
    {% csrf_token %}
    <tr>
        <td>{{data.bookname}}</td>
        <td>{{data.authorname}}</td>
        <td>{{data.price}}</td>
        <td>{{data.isbn}}</td>
        <td>{{data.discount}}</td>
        <td><img src="{{data.bookdoc.url}}" height="100px" width="100px"></td>
    <td>
        <input type="text" name="isbnno" value="{{data.isbn}}" hidden >
        <input type="submit" value="Edit" name="btn">
        <input type="submit" value="Delete" name="btn">
    </td>
    </tr>
    </form>
    {% endfor %}    
</table>

